* {
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/MullerLight.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MullerRegular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/MullerMedium.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Muller';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/MullerBold.woff2') format('woff2'); 
}

html {
  font-family: 'Muller', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #3172b9;
  color: white;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-big {
  padding: 20px 60px;
}

.text-center {
  text-align: center;
}

/* HEADER */
.header {
  height: 100px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-list {
  display: flex;
  margin: auto;
}

.nav-item {
  font-size: 15px;
  line-height: 1;
}

.nav-link {
  color: #1c1c1c;
}

.nav-item.is-active .nav-link {
  color: #3172b9;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 40px;
}

/* HERO */
.section-hero {
  background: url('../img/background.jpg') right center no-repeat white;
}

.hero-container {
  padding-top: 120px;
  padding-bottom: 130px;
}

.hero-content {
  max-width: 50%;
}

.section-hero-heading {
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  margin-top: 0px;
  color: #1c1c1c;
}

.section-hero-description {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 25px;
  color: #787878;
}

.section-hero-btn-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 11px;
  line-height: 1;
  color: #787878;
  text-transform: uppercase;
  text-align: center;
}

.section-hero-action {
  display: inline-block;
}

.section-hero-ssl-icon {
  display: inline-block;
  width: 13px;
  height: 17px;
  background: url('../img/shield.svg') center center no-repeat transparent;
  background-size: contain;
  margin-right: 10px;
  transform: translateY(-1px);
}

.section-do {
  padding-top: 140px;
  padding-bottom: 190px;
}

.section-description {
  margin-top: 25px;
}

.section-do-list {
  display: flex;
  margin-top: 50px;
}

.section-do-item {
  flex: 1 1 25%;
}

.section-do-item:not(:last-child) {
  margin-right: 30px;
}

.section-clients {
  padding-top: 90px;
  padding-bottom: 160px;
}

.section-clients-list {
  display: flex;
  margin-top: 40px;
}

.section-clients-item {
  flex: 1 1 33%;
}

.section-clients-item:not(:last-child) {
  margin-right: 35px;
}

.section-clients-user {
  display: flex;
  align-items: center;
}

.section-clients-avatar {
  margin-right: 15px;
}

.section-contacts {
  padding-top: 70px;
  padding-bottom: 170px;
}

.section-heading-list {
  display: flex;
  margin-top: 100px;
}

.section-contacts-item {
  flex: 1 1 33%;
  margin-right: 190px;
}

.section-contacts-icon {
  display: block;
  height: 26px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}

.section-contacts-icon-gps {
  background-image: url('/img/gps.svg');
}

.section-contacts-icon-phone {
  background-image: url('/img/phone.svg');
}

.section-contacts-icon-mail {
  background-image: url('/img/mail.svg');
  background-size: auto 19px;
}

.section-contacts-text {
  margin-top: 40px;
}

.footer {
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 20px;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-nav-item {
  margin-right: 30px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 30px;
}