* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  padding: 15px 16px;
  background-color: #3172b9;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}
.header {
  height: 100px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 80px;
}

.hero-container {
  padding-top: 120px;
  padding-bottom: 130px;
}

.hero-content {
  max-width: 50%;
}

.section-hero-heading {
  margin-bottom: 20px;
}

.section-hero-description {
  margin-bottom: 30px;
}

.section-hero-btn-description {
  margin-top: 10px;
}

.section-do {
  padding-top: 140px;
  padding-bottom: 190px;
}

.section-description {
  margin-top: 25px;
}

.section-do-list {
  display: flex;
  margin-top: 50px;
}

.section-do-item {
  flex: 1 1 25%;
}

.section-do-item:not(:last-child) {
  margin-right: 30px;
}

.section-clients {
  padding-top: 90px;
  padding-bottom: 160px;
}

.section-clients-list {
  display: flex;
  margin-top: 40px;
}

.section-clients-item {
  flex: 1 1 33%;
}

.section-clients-item:not(:last-child) {
  margin-right: 35px;
}

.section-contacts {
  padding-top: 70px;
  padding-bottom: 170px;
}

.section-heading-list {
  display: flex;
  margin-top: 100px;
}

.section-contacts-item {
  flex: 1 1 33%;
  margin-right: 190px;
}

.section-contacts-icon {
  margin-bottom: 20px;
}

.section-contacts-text {
  margin-top: 50px;
}

.footer {
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 20px;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-nav-item {
  margin-right: 30px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 30px;
}